<p>
    <a asp-action="Create">Create New</a>
</p>
<hr />
<h1 id="tesst"> </h1>
<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="Name">City</label>
            <input class="form-control" type="text" id="city-name" value="">
        </div>
        <div class="form-group">
            <button id="create-city" class="btn btn-success">Create</button>
        </div>

    </div>
</div>
<hr />
<div id="PartCity">
    <!-- paging control for navigation to the previous page, next page, etc -->
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="city-tbl-body" class="table">
            
        </tbody>
    </table>

    <div id="snackbar">The city is created..</div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Details of </h4>
                    </div>
                    <div class="modal-body">
                        <p id="DetailsCity">This is a small modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@* create City *@

<script type="text/javascript">
$(function(){
    
    // load initial content
         $.ajax({
            url: '/city/list?pageNumber=1&pageSize10',
            dataType: "json",
            type: "GET",
            cache: false,
            success: function (data) {
                console.log("in ajax get response");
                console.log(data);
                data.each(function(c) {
                    var row='<tr class="tROW"><td id="EditId">'+c.id+'</td><td id="EditName">'+c.name+'</td><td><span id="SubmitEdit"><button type="button" class="Edit-city btn btn-warning" data-city-id="@item.Id">Edit</button></span><button type="button" class="Details-of-city btn btn-info " data-toggle="modal" data-target="#myModal" data-city-id="@item.Id">Details</button><button type="button" class="delete-city btn btn-danger" data-city-id="@item.Id">Delete</button><td></td></tr>'
                  console.log(row);
                  $('#city-tbl-body').append(row)
                });
            },
            error: function (xhr) {
                alert('error');
            }
    });
    
    $("#create-city").click(function(){
            var cityName=$("#city-name").val();
             // Get the snackbar DIV
            var x = document.getElementById("snackbar");

            // Add the "show" class to DIV
            x.className = "show";

            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            $.post("/city/Create",{name:cityName},function(data,status){
                console.log(status);
                console.log(data);
                console.log(data.id);
                $(".table").append("<tr><td>"+
                        data.id+
                    "</td><td>"+data.name+
                    "</td><td>"+'<button type="button" class="Details-of-city btn btn-info " data-toggle="modal" data-target="#myModal" data-city-id=data.id>Details</button>'+
                    '<button class="delete-city btn btn-danger" data-city-id=data.id>Delete</button>'+
                    +"</td></tr>");

  });
            });
@* Edit *@
$(".Edit-city").click(
    function(e){
        var cityId = $(e.currentTarget).attr("data-city-id");
        console.log(cityId);
        $.ajax({
            url: '/city/EditCity/'+cityId,
            dataType: "json",
            type: "GET",
            data: JSON.stringify({id: cityId}),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#SubmitEdit").html('<button class="btn btn-success" id="SubmitEditBtn">Submit</button>  <button type="button" class="Cancel-Edit btn btn-danger">Cancel</button>');
                $("#EditId").text(data.id);
                $("#EditName").html('<input type="text" class="form-control" id="cty" placeholder="City Name" >');
                $("#cty").attr("placeholder", data.name);
                $(".Cancel-Edit").click(function (e) {
                    $(".Cancel-Edit").remove();
                    $("#SubmitEditBtn").remove();
                    $("#SubmitEdit").html('<span id="SubmitEdit"><button type="button" class="Edit-city btn btn-warning">Edit</button></span>');
                    $("#EditName").html("<h6>" + data.name + "</h6>");
                });
                $("#SubmitEditBtn").click(function (e) {
                    var cityNameEdited = $("#cty").val();
                    $.post("/city/EditCity", { Id: data.id, Name: cityNameEdited }, function (data, status) {
                        $(".Cancel-Edit").remove();
                        $("#SubmitEditBtn").remove();
                        $("#SubmitEdit").html('<span id="SubmitEdit"><button type="button" class="Edit-city btn btn-warning">Edit</button></span>');
                        $("#EditName").html("<h6>" + data.name + "</h6>");
                    });

                });

                     },
            error: function (xhr) {
                alert('error');
            }
});
});
@* finish details *@
@* Details *@
$( ".Details-of-city" ).click(
  function(e) {
    var cityId=$(e.currentTarget).attr("data-city-id");
    console.log(cityId);
        $.ajax({
        url: '/city/DetailsCity/'+cityId,
        dataType: "json",
        type: "GET",
        data: JSON.stringify({id: cityId}),
        async: true,
        processData: false,
        cache: false,
        success: function (data) {
            $(".modal-title").text("Details of "+data.name);
            $("#DetailsCity").text("Id : "+data.id+"\n Name :"+data.name);
        },
        error: function (xhr) {
            alert('error');
        }
});
});
@* finish details *@
    $(".delete-city").click(function(e){
        var r=confirm("Are you sure you want to delete this item");
            if(r==true){
                console.log(e.currentTarget);

                var cityId=$(e.currentTarget).attr("data-city-id");
                console.log(cityId);
                     /*DELETE*/
                    $.ajax({
                        url: '/city/DeleteCity/'+cityId,
                        dataType: "json",
                        type: "DELETE",
                        data: JSON.stringify({id: cityId}),
                        async: true,
                        processData: false,
                        cache: false,
                        success: function (data) {
                            alert(data);

                        },
                        error: function (xhr) {
                            alert('error');
                        }

                    //-------------------------------------------------------
                });
                // rempve row
                $(e.currentTarget).parent().parent().remove();

            }
});
});
</script>